[submodule ".yadm-project"]
	path = .yadm-project
	url = https://github.com/TheLocehiliosan/yadm.git
[submodule ".config/i3blocks"]
	path = .config/i3blocks
	url = https://github.com/vivien/i3blocks-contrib.git
