[submodule ".config/i3blocks"]
	path = .config/i3blocks
	url = https://github.com/vivien/i3blocks-contrib.git
[submodule "bin/.pia"]
	path = bin/.pia
	url = https://github.com/d4rkcat/pia.git
[submodule ".config/i3blocks-contrib"]
	path = .config/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib.git
