# -*- mode: shell-script;-*-
export LANG=zh_CN.UTF-8
export XIM_PROGRAM=fcitx
export XIM=fcitx
export XMODIFIERS="@im=fcitx"
export QT_IM_MODULE=fcitx
export GTK_IM_MODULE=fcitx
if [ -n "$DESKTOP_SESSION" ];then
    eval $(gnome-keyring-daemon --start)
    export SSH_AUTH_SOCK
fi
# xinput set-prop "TPPS/2 IBM TrackPoint" "Device Accel Constant Deceleration" 0.7
# alias firefox='optirun --failsafe firefox'
# alias smplayer='optirun --failsafe smplayer'
if [ "$HOSTNAME" = "carbon" ]; then
    xrandr --output eDP1 --scale 1.25x1.25
fi
